/* 
 * ##### Sasson - advanced drupal theming. #####
 *   
 * SITENAME theme main stylesheet.
 * 
 *  Index
 *  -----------
 *  1. General Sitewide Styles
 *    -- Layout
 *    -- General Styles
 *    -- Typography
 *    -- Links 
 *    -- Header
 *    -- Sidebars
 *    -- Footer
 *  2. Front Page
 *  3. Inner Pages
 *  4. Forms
 * 
 */

/*         General Sitewide Styles
 *************************************************/
  /* Variables */
  $grey: #5f6972;

  /* Layout */

  /* General Styles (Colors, Backgrounds etc.)*/
  h1, h2, h3, h4, p, a, span {
    color: $grey;
  }

  html {
    background: url('../images/overlay.png') grey;
  }

  #site-name {
    text-indent: -10000px;
    background: url('../images/logo.png');
    display: block;
    height: 176px;
    width: 940px;
  }

  #page-title {
    display: none;
  }
  .not-front {
    .view-header {
      h2 {
        position: absolute;
        top: -110px;
        color: white;
        font-size: 52px;
        padding-left: 10px;
      }
    }
  }

  #page {
    background: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 40px;
    box-shadow: 0 0 10px black;
  }

  #main-menu {
    background: url('../images/overlay.png') #649827;
  }

  .main-icon { 
    text-indent: -10000px;
    display: block;
    height: 64px;
    width: 64px;
    float: right;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    } 
  }
  #home {
    background: url('../images/icons/home.png');
  }
  #add {
    background: url('../images/icons/plus.png');
  }
  #grid {
    background: url('../images/icons/grid.png');
  }
  #list {
    background: url('../images/icons/list_view.png');
  }
  #files {
    background: url('../images/icons/files.png');
  }
  #settings {
    background: url('../images/icons/settings.png');
  }

  table {
    width: 100%;
    tr {
      background: url('../images/overlay.png') grey;
      th {
        color: white;
        padding: 10px;
      }
      td {
        a {
          vertical-align: middle; 
        }
      }
    }
    .odd {
      background: rgba(204, 204, 204, 0.2);
    }
    .even {
      background: rgba(204, 204, 204, 0.3);
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: black;
      &:visited {
        color: black;
      }
    }
    p {
      margin: 0;
      color: block;
    }
  }

  /* Views */
  .view-display-id-page {
    .views-row {
      width: 21%;
      height: auto;
      float: left;
      display: inline;
      margin: 2%;
      margin-bottom: 0;
      .views-field-title {
        position: relative;
        bottom: 25px;
        background: url('../images/overlay.png') #649827;
        a {
          color: white;
          text-decoration: none;
          padding-left: 10px;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  /* Typography */

  /* Links */

  /* header */

  /* Sidebars */

  /* Footer */


/*         Front Page
 *************************************************/

/*         Inner Pages
 *************************************************/

/*         Forms
 *************************************************/

